
<%- include("header") %>

<link rel='stylesheet' href='/style.css' />
<div class="box" id="heading">
    <h1> <%= title %></h1>
</div>



    <a  class="item" href="/profile/string">String</a>
    <a  class="item" href="/profile/array">Array</a>
    <a  class="item" href="/profile/matrix">Matrix</a>
    <a  class="item" href="/profile/searching">Searching And Sorting</a>
    <a  class="item" href="/profile/linkedlist">Linked List</a>
    <a  class="item" href="/profile/binaryTree">Binary Tree</a>
    <a  class="item" href="/profile/binarysearchtree">Binary Search Tree</a>
    <a  class="item" href="/profile/greedy">Greedy</a>
    <a  class="item" href="/profile/stackqueue">Stack And Queue</a>
    <a  class="item" href="/profile/heap">Heap</a>
    <a  class="item" href="/profile/graph">Graph</a>
    <a  class="item" href="/profile/backtracking">Backtracking</a>
    <a  class="item" href="/profile/dp">Dynamic Programing</a>
    <a  class="item" href="/profile/bitmanipulation">Bit Manipulation</a>
    
    
    </body>
    <footer>
        Copyright live and let live @2022
        
    </footer>
    </html>