
<%- include("header") %>

<link rel='stylesheet' href='/style.css' />
<div class="box" id="heading">
    <h1> <%= title %></h1>
</div>



    <a  class="item" href="/string">String</a>
    <a  class="item" href="/array">Array</a>
    <a  class="item" href="/matrix">Matrix</a>
 
    
    </body>
    <footer>
        Copyright live and let live @2022
        
    </footer>
    </html>