html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #e39983 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
   
    max-width: 400px;
    margin: 50px auto;
   
    margin-bottom: 1px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {
    position: relative;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    padding: 0;

  }
  
 
  


  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
 
  
  button {
    
    margin: 0;
      color:rgb(245, 237, 237);
      background-color: rgb(15, 14, 14);
      padding: 0;
      width: 45px;
      height:40px;
      border-radius: 4px;
      
  }
  .button{
    position: absolute;
    left: 220px;
  
  }
  
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  a{
    display: block;
    text-align: center;
    color: #00204a;
    font-size: large;
  }

  #red{
   
    background-color: rgb(85, 81, 81);
  }